[submodule "modules/Data-Common-Contracts-Net-Core"]
	path = modules/Data-Common-Contracts-Net-Core
	url = https://github.com/CarlTheUser/Data-Common-Contracts-Net-Core
[submodule "modules/Sql-Data-Access-Tool-Wrapper-Net-Core"]
	path = modules/Sql-Data-Access-Tool-Wrapper-Net-Core
	url = https://github.com/CarlTheUser/Sql-Data-Access-Tool-Wrapper-Net-Core
